<div class="password">
  <h2 class="password-logo">Forgot your password?</h2>
  <div class="password-layout">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="password-email">
        <span class="password-email-title"><%= f.label :email %><br /></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="password-actions">
        <%= f.submit "Send", class: "password-btn" %>
      </div>
    <% end %>
  </div>
</div>
<div class="password-message">
  <%= render "devise/shared/links" %>
</div>
